* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3c4346;
  color: #fff;
}

header {
  background-color: #f24c00;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffe4c4;
}

footer {
  background-color: #3a261e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

.carrito-flotante {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 300px;
  border-radius: 8px;
  z-index: 1000;
}

.carrito-icono {
  background-color: #f24c00;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.carrito-contenido {
  padding: 10px;
  display: none;
}

.carrito-contenido.visible {
  display: block;
}
.video-section video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
