* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #691E06;
    color: #3a261e;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #f4f4f4;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    color: #3a261e;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="file"] {
    border: none;
}


button[type="submit"] {
    background-color: #f24c00;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d14000;
}

input:focus, button:focus {
    outline: none;
    border-color: #f24c00;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
        width: 90%;
    }
}
